<div class="container">
	<h1>Create transaction</h1>
	<p>Transfer some money to someone!</p>

	<br>

	<div class="form-group">
	    <label for="fromAddress">From address</label>
	    <input type="text" class="form-control" id="fromAddress" aria-describedby="fromAddressHelp" [(ngModel)]="walletKey.publicKey" disabled>
	    <small id="fromAddressHelp" class="form-text text-muted">
	    	This is your wallet address. You cannot change it because you can only spend your own coins.
	    </small>
  	</div>

  	<div class="form-group">
	    <label for="toAddress">To address</label>
	    <input type="text" class="form-control" id="toAddress" aria-describedby="toAddressHelp" [(ngModel)]="newTx.toAddress">
	    <small id="toAddressHelp" class="form-text text-muted">
	    	The address of the wallet where you want to send the money to. You can type random text here (if you are not interested in recovering the funds)
	    </small>
  	</div>

  	<div class="form-group">
	    <label for="amount">Amount</label>
	    <input type="number" class="form-control" id="amount" aria-describedby="amountHelp" [(ngModel)]="newTx.amount" (ngModelChange)="getBalanceOfAddress()">
	    <small id="amountHelp" class="form-text text-muted">
	    	<span *ngIf="this.newTx.amount > this.balance">You don't have enough coin to transfer!</span>
			<span *ngIf="this.newTx.amount === 0">Amount of coin to transfer must be larger than 0!</span>
			<span *ngIf="this.newTx.amount == null">Please insert the amount of coin to transfer!</span>
	    </small>
  	</div>
  	<button (click)="createTransaction()" type="submit" class="btn btn-primary" *ngIf="this.newTx.amount <= this.balance && this.newTx.amount != 0 && this.newTx.amount != null">
		Sign & create transaction
	</button>

</div>